@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Adder</title>
    </head>
    <body>
        <p>Start Year: @Model.StartYear</p>
        <p>End Year: @Model.EndYear</p>
    </body>
</html>
}
