@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Lab_11_MVC.Web.Models
@{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/main.css" />
    </head>
    <body>
        <main>
            <h1>People of The Year</h1>

            <table>
                @foreach (TimesPerson person in Model)
                {
                    <tr>
                        <td>@staff.Name</td>
                        <td>@staff.Role</td>
                    </tr>
                }
            </table>
        </main>
        <script src="~/test.js"></script>
    </body>
</html>
}
